@model Cat_Paw_Footprint.Models.Restaurants

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>
<div>
    <h4>美食資訊</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantLng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantLng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.DistrictID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RestaurantID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
