@model Cat_Paw_Footprint.Areas.TravelManagement.ViewModel.RestaurantsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>詳細資料</h1>

<div>
    <h4>美食資訊</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantLng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantLng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActiveText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordID)
        </dt>
        <dd class="col-sm-10">
            @if (Model.KeywordNames != null && Model.KeywordNames.Any())
            {
                foreach (var keyword in Model.KeywordNames)
                {
                    <span class="badge bg-primary">@keyword</span>
                }
            }
            else
            {
                <span>目前沒有關鍵字</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            @if (Model.PictureBase64 != null && Model.PictureBase64.Any())
            {
                foreach (var pic in Model.PictureBase64)
                {
                    <img src="@pic" alt="圖片載入失敗" style="max-width:200px; margin:5px;" />
                }
            }
            else
            {
                <span>目前沒有圖片</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RestaurantID">修改</a> |
    <a asp-action="Index">返回</a>
</div>
