@* @model IEnumerable<Cat_Paw_Footprint.Models.Restaurants> *@
@model IEnumerable<Cat_Paw_Footprint.Areas.TravelManagement.ViewModel.RestaurantsViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>美食</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantAddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantLng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keywords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantAddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @foreach (var pic in item.Picture) // Pictures 是 List<string> 或 List<byte[]>
                {
                    if (pic is byte[] bytes)
                    {
                        var base64 = "data:image/jpeg;base64," + Convert.ToBase64String(bytes);
                        <img src="@base64" alt="圖片" width="80" />
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RestaurantID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestaurantID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
