@model IEnumerable<Cat_Paw_Footprint.Areas.Admin.ViewModel.PromotionViewModel>

@{
	ViewData["Title"] = "優惠活動";
}

@section Styles {
	<link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css" />
	<style>
		.table.dataTable thead tr th {
			background-color: #22B3C1; /* 這裡放你側邊欄的顏色 */
			color: white;
			text-align: center;
		}

		.btn-action {
			min-width: 80px;   /* 最小不要比這個小 */
			max-width: 120px;  /* 最大不要比這個大 */
			width: 80%;       /* 在父容器內自動撐滿 */
		}

		#PromotionsTable_filter {
			margin-bottom: 15px; /* 距離可以自己調整 */
		}
	</style>
}


<h1>優惠活動</h1>

<p>
	<a asp-action="Create" class="btn btn-primary mt-2 mb-2"><i class="fa-solid fa-square-plus"></i> 新增優惠活動</a>
</p>
<table id="PromotionsTable" class="table table-striped table-hover table-bordered mb-3">
	<thead class="table-primary">
		<tr>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.PromoName)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.PromoDesc)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.EndTime)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.DiscountType)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.DiscountValue)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.CreateTime)
			</th>
			<th class="fs-5" style="width: 10%;">
				@Html.DisplayNameFor(model => model.UpdateTime)
			</th>
			<th class="fs-5" style="width: 10%;">操作</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.PromoName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PromoDesc)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DiscountType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DiscountValue)
				</td>
				<td class="text-center">
					@Html.ActiveBadge(item.IsActive)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreateTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdateTime)
				</td>
				<td class="text-center">
					<a asp-action="Edit" asp-route-id="@item.PromoID" class="btn btn-primary btn-sm mb-1 btn-action">編輯</a>
					<a asp-action="Details" asp-route-id="@item.PromoID" class="btn btn-info btn-sm mb-1 btn-action">詳細資訊</a> 
					<a asp-action="Delete" asp-route-id="@item.PromoID" class="btn btn-danger btn-sm mb-1 btn-action">刪除</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
	<script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.table').DataTable({
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
				},
				layout: {
					topStart: {
						buttons: ['copy', 'csv', 'pdf', 'print']
					}
				},
				fixedHeader: true
			});

			// 顯示成功訊息（延遲一點點，讓 DataTable 先完成）
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                setTimeout(function () {
                    alert('@Html.Raw(TempData["SuccessMessage"])');
                }, 300); // 0.3 秒後顯示
            </text>

		}
		});

	</script>
}
