@model IEnumerable<Cat_Paw_Footprint.Models.Coupons>

@{
    ViewData["Title"] = "優惠券管理";
}

@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/4.0.2/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.3.3/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.css" rel="stylesheet" />
    <style>
        tr {
            background-color: #22B3C1;
        }

        table.dataTable thead th:first-child {
            border-top-left-radius: 8px;
        }

        table.dataTable thead th:last-child {
            border-top-right-radius: 8px;
        }
    </style>
}

<h1>優惠券管理</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i> 新增優惠券</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="fs-5">
                @Html.DisplayNameFor(model => model.CouponCode)
            </th>
            <th class="fs-5">
                @Html.DisplayNameFor(model => model.DiscountType)
            </th>
            <th class="fs-5">
                @Html.DisplayNameFor(model => model.DiscountValue)
            </th>
            <th class="fs-5">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th class="fs-5">
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th class="fs-5">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="fs-5" style="width:15%">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CouponCode)
                </td>
                <td>
                    @if (item.DiscountType == 0)
                    {
                        <span>百分比折扣 (%)</span>
                    }
                    else
                    {
                        <span>固定金額折扣 ($)</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td class="text-center">
                    @if (item.IsActive == true)
                    {
                        <span class="badge bg-success text-center justify-content-between">啟用中</span>
                    }
                    else
                    {
                        <span class="badge bg-danger text-center justify-content-between">已下架</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CouponID" class="btn btn-primary btn-sm mb-1 ms-auto" >編輯</a>
                    <a asp-action="Details" asp-route-id="@item.CouponID" class="btn btn-info btn-sm mb-1 ms-auto" >檢視</a>
                    <a asp-action="Delete" asp-route-id="@item.CouponID" class="btn btn-danger btn-sm mb-1 ms-auto" >下架</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function (){
            $('table').dataTable({
                "language" : {
                    url: '//cdn.datatables.net/plug-ins/2.3.3/i18n/zh-HANT.json',
                },
                layout: {

                }
            });
        });
    </script>
}