@model Cat_Paw_Footprint.Models.Transportations

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>
<div>
    <h4>交通資訊</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TransportID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
