@* @model IEnumerable<Cat_Paw_Footprint.Models.Transportations> *@
@model IEnumerable<Cat_Paw_Footprint.Areas.TravelManagement.ViewModel.TransportationsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>交通</h1>

<p>
    <a asp-action="Create">新增資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActiveText)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransportID">修改</a> |
                <a asp-action="Details" asp-route-id="@item.TransportID">詳細資料</a> |
                <a asp-action="Delete" asp-route-id="@item.TransportID">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
