@* @model IEnumerable<Cat_Paw_Footprint.Models.Transportations> *@
@model IEnumerable<Cat_Paw_Footprint.Areas.TravelManagement.ViewModel.TransportationsViewMoled>

@{
    ViewData["Title"] = "Index";
}

<h1>交通</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keywords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @foreach (var pic in item.Picture) // Pictures 是 List<string> 或 List<byte[]>
                {
                    if (pic is byte[] bytes)
                    {
                        var base64 = "data:image/jpeg;base64," + Convert.ToBase64String(bytes);
                        <img src="@base64" alt="圖片" width="80" />
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
