@model Cat_Paw_Footprint.Areas.Employee.ViewModel.CustomerAdminViewModel
@{
    Layout = null;
}
<div class="container-fluid d-flex justify-content-center">
    <div class="col-md-8">
        <table class="table table-sm table-bordered">
            <tr><th style="width:140px">客戶編號</th><td>@Model.CustomerID</td></tr>
            <tr><th>帳號</th><td>@Model.Account</td></tr>
            <tr><th>姓名</th><td>@Model.CustomerName</td></tr>
            <tr><th>會員等級</th><td>@Model.LevelName (@Model.Level)</td></tr>
            <tr><th>建立時間</th><td>@Model.CreateDate?.ToString("yyyy-MM-dd HH:mm")</td></tr>
            <tr><th>Email</th><td>@Model.Email</td></tr>
            <tr><th>電話</th><td>@Model.Phone</td></tr>
            <tr><th>地址</th><td>@Model.Address</td></tr>
            <tr><th>身分證</th><td>@Model.IDNumber</td></tr>
        </table>
    </div>
</div>
</div>

