@model Cat_Paw_Footprint.Models.Locations

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>
<div>
    <h4>景點資訊</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationLng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationLng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.DistrictID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LocationID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
