@* @model IEnumerable<Cat_Paw_Footprint.Models.Locations> *@
@model IEnumerable<Cat_Paw_Footprint.Areas.TravelManagement.ViewModel.LocationsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>景點</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationAddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationLng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keywords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @foreach (var pic in item.Picture) // Pictures 是 List<string> 或 List<byte[]>
                {
                    if (pic is byte[] bytes)
                    {
                        var base64 = "data:image/jpeg;base64," + Convert.ToBase64String(bytes);
                        <img src="@base64" alt="圖片" width="80" />
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationID">修改</a> |
                <a asp-action="Details" asp-route-id="@item.LocationID">詳細資料</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationID">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
