@model Cat_Paw_Footprint.Models.Hotels

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除</h1>
<div>
    <h4>住宿資訊</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelLng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelLng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.DistrictID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionID)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HotelID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
